:root {
  --desktop-width: 1400px;

  --color-bg-header: #fff;
  --color-bg-footer: #354044;
  --color-bg-button: #fafad2;

  --color-sidebar: #e6e6fa;

  --color-white: #fff;
  --color-primary: #f5674c;
  --color-light-gray: #d3d3d3;
  --color-border-card: #fff0f5;
}