*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
}